.mHeader {
  margin-bottom: 20px;
}
.filterButton {
  background-color: #f7f7f7;
  border: 2px solid white;
  border-radius: 10px;
}
.toggle {
  margin-bottom: 15px;
}
.filterSelected {
  background-color: #777b82;
  font-size: 100%;
  color: white;
  border-radius: 10px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 3s;
}
@-webkit-keyframes example {
  0%   {background-color:#5bcacc; left:0px; top:0px;}
  50%  {background-color:#6c8e8e; left:200px; top:0px;}
  100%  {background-color:#777b82; left:200px; top:200px;}
}
.map {
  position: unset!important;
}
.mapcol {
  height: 500px;
}
.mapSingle {
  position: unset!important;
}
.mapSinglecol {
  height: 250px;
}

.NavItem {
  float:left;
}
.app-body {
  margin-top: 30px;

/*single restaurant component text style*/
.restaurantName {
  text-align: center;
  font-size: 200%;
}
.restaurantDescription,
.AddComment-title,
.Address-title,
.Comments-title {
  font-weight: bolder;
}
.address {
  margin-bottom: 1rem;
}
.restaurantPhoto {
  height: 400px;
}
.Comments-list {
  width: 100%;
  height: 300px;
  overflow: scroll;
  margin-bottom: 2rem;
}
.Comment-content {
  height: 100px;
  width: 100%;
  font-size: 100%;
<<<<<<< HEAD
>>>>>>> 9d3e44c74b830dadeefe903cd6b95292db2999e8
=======
>>>>>>> f23b5658d3a3b5b76f852fdd4f0017aa949a34f9
}
