.mHeader {
  margin-bottom: 20px;
}
.filterButton {
  background-color: #f7f7f7;
  border: 2px solid white;
  border-radius: 10px;
}
.toggle {
  margin-bottom: 15px;
}
.filterSelected {
  background-color: #777b82;
  font-size: 100%;
  color: white;
  border-radius: 10px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 3s;
}
@-webkit-keyframes example {
  0%   {background-color:#5bcacc; left:0px; top:0px;}
  50%  {background-color:#6c8e8e; left:200px; top:0px;}
  100%  {background-color:#777b82; left:200px; top:200px;}
}
.map {
  position: unset!important;
}
.mapcol {
  height: 500px;
}
.mapSingle {
  position: unset!important;
}
.mapSinglecol {
  height: 250px;
}
